@page "/Chat"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@using IthsBoardGamers.Shared.DTOs
@attribute [Authorize]

@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
@inject HttpClient _client;

<h3>Chat</h3>

<EditForm Model="CurrentChatMessage" OnValidSubmit="SendMessage">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Message</label>
        <InputText class="form-control" @bind-Value="CurrentChatMessage.Message"></InputText>
    </div>
    <button class="btn btn-primary" type="submit">Send Message</button>
</EditForm>
<hr />
<div class="container">
    <Virtualize Items="AllMessages.OrderByDescending(m=>m.TimeSent).ToList()" Context="message">
        <div class="card-body">
            <p class="d-flex flex-row justify-content-start">@message.Sender.Email</p>
            <p class="small p-2 me-3 mb-1 text-info rounded-3 bg-dark">@message.Message</p>
            <p class="small ms-3 mb-3 rounded-3 text-muted">@message.TimeSent.ToString("HH:mm")</p>
        </div>
    </Virtualize>
</div>